*{
      margin:0;
      padding:0;
      box-sizing: border-box;
      font-family:"JetBrains Mono", monospace;
}



#menu-toggle {
            display: none;  
      }

#wrapper{
      margin: auto;
      background-color: #9BA2FF;
      width: 100%;
      max-width: 1000px;
      align-items: center;
      overflow: auto;
}

.menu-icon {
  display: none;
}

header{
      width: 100%;
      z-index: 5;
      position: fixed;
      text-align: center;
      color: #A499BE;
      background-color: #2A2E45
}

body{
     background-color: #2A2E45;
     
}

header, nav{
      display: flex;
      padding: 20px;
      align-items: center;
      justify-content: space-between;
}

header, nav {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #9BA2FF;
    padding: 10px;
    border-radius: 10px; 
}

.about-me{
      margin-top: 120px;
      margin-left: 20px;
      margin-right: 20px;
      background-color: white;
      padding: 20px;
      border: 1px solid black;
      border-radius: 20px;
}

.content{
      display: flex;
      align-items: center;
      color: black;
      justify-content: space-between;
}

.details-left{
      width: 50%;
      padding: 20px 10px;
}

.details-left img{
      height: auto;
      width: 100%;
      padding: 20px;
      border-radius: 30px;
}

.details-right .title{
      padding-bottom: 5px;
}

.details-right{
      width: 50%;
      padding: 20px; 
}

.about-me .detail .description{
      margin: 40px;
      max-width: 80%;
      font-size: 100%;
}

.cert{
      display: flex;
      align-items: center;
      color: black;
      justify-content: space-between;
      margin: 20px;
}

.cert-right{
      width: 50%;
      padding: 20px;
}

.cert-right img{
      padding: 0 30px;
      margin-right: 50px;
      width: 100%;
      height: auto;
}

.cert-title{
      padding: 10px 0;
}

.cert-left{
      width: 50%;
      padding: 20px;
}

.cert a {
    background: none;
    padding: 0;
    color: white;
}

.volt{
      display: flex;
      align-items: center;
      color: black;
      justify-content: space-between;
      margin: 20px;
      border: 1px solid black;
      border-radius: 20px;
      background-color: white;
}

.volt-title{
      padding: 20px 0;
}

.volt-right{
      width: 50%;
      padding: 20px;
}

.volt-left{
      width: 50%;
      padding: 20px;
}

.volt-left img{
      padding: 0 10px;
      margin-right: 20px;
      width: 100%;
      height: auto;
      border-radius: 30px;
}

.work{
      display: flex;
      align-items: center;
      color: black;
      justify-content: space-between;
      margin: 20px;
}

.work-left, .work-right{
      width: 50%;
      padding: 20px;
}

.work-right img{
      padding: 0 10px;
      margin-right: 20px;
      width: 100%;
      height: auto;
      border-radius: 30px;
}

.work-title{
      padding: 20px 0;
}

.work-bold{
      font-weight: bold;
}

input, textarea, select, button {
    box-sizing: border-box; 
}

.contact {
    background-color: white;      
    padding: 40px;                
    margin: 40px auto;            
    max-width: 800px;             
    border: 1px solid black;
    border-radius: 20px;          
    color: #2A2E45;               
}

.contact h2 {
    padding-bottom: 30px;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;                     
    padding: 0 10px;
}

.contact fieldset{
      padding: 20px 25px;
}

.contact input,
.contact textarea {
    padding: 15px 20px;
    border-radius: 10px;           
    border: 1px solid #9BA2FF;     
    font-size: 1em;
    outline: none;
    width: 100%; 
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;                  
}

footer p{
      margin: 0;
}
footer{
      border-top: 2px solid black;
      text-align: center;
      padding: 20px;
}

@media (max-width: 768px) {
  #media-queries {
    background: #e9f7ff;
    /* Background changes */
  }

  body p{
      font-size: 1.4em;
  }

  #wrapper{
      width: 100%;
      max-width: 1000px;
      margin: auto;
  }

  header h1{
      padding: 15px 0;
  }

  header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: center;
  }

  .menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
    text-align: right;
    padding: 10px;
  }

      #menu-toggle {
            display: none;  
      }

  #menu-toggle:checked + .menu-icon + nav {
    display: flex;
  }

  nav {
      
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
  }

  .about-me{
      padding-top: 120px;
  }

  nav {
    width: 100%;
    padding: 0;
  }

  ul {
    flex-direction: column;
    width: 100%;
    background-color: #2A2E45;
    /*background-color: #A499BE;*/
      margin: 0;
    padding: 0;
    gap: 0;
  }

  nav li{
      width: 100%;
  }

      nav a {
            display: block;
            width: 100%;
            padding: 15px 0;
            text-align: center;
            text-decoration: none;
            border: 2px solid white;
            border-radius: 10px;
            background-color: #2A2E45;
      }

  .about-me{
      margin-top: 400px;
  }

  .about-me, .cert, .work, .volt, .content {
    flex-direction: column;
    /* Border becomes thicker */
  }

  .details-left, .details-right, .cert-right, .cert-left, .volt-left, .volt-right, .work-right, .work-left{
      width: 100%;
  }

}

